<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTrD9oaHkV5XJs-vmOv1O5qpaoelhkahY</string>
	<key>GCM_SENDER_ID</key>
	<string>23094452380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machineTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>all-firebase-fc389</string>
	<key>STORAGE_BUCKET</key>
	<string>all-firebase-fc389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23094452380:ios:6573607f1f7e87bdb64d59</string>
</dict>
</plist>